.link:hover {
  text-decoration: underline;
}

.footer {
  margin-top: 3.5rem;
}

.footer-links {
  display: inline-flex;
  justify-content: left;
  font-size: 1.1rem;
}

.footer-links a {
  margin-left: .25rem;
}

section > p {
  margin-bottom: 2rem;
}

p > img {
  max-width: 95vw;
  height: auto;
  width: auto;
  max-height: 95vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
}

.site-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.content {
  padding: 1rem;
}