.link:hover {
  text-decoration: underline;
}

.footer {
  margin-top: 3.5rem;
}

.footer-links {
  display: inline-flex;
  justify-content: left;
  font-size: 1.1rem;
}

.footer-links a {
  margin-left: 0.25rem;
}

section {
  font-size: 1.1rem;
}

section > p {
  margin-bottom: 2rem;
}

p > img {
  max-width: var(--site-width);
  height: auto;
  width: auto;
  max-height: 95vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
}

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--site-width);
  padding: 2.625rem 0.875rem;
}

.content.home {
  max-width: 30rem;
}

.site-title {
  color: white;
  /* margin-bottom: 3rem; */
  box-shadow: none;
  font-size: 2.5rem;
}

.site-title.home a {
  color: white;
}

.site-title.post {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 1.7rem;
}
